body {
    background-color: lightblue;
  }
  
html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 100%
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

li {
    display: inline-block;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color:#FF8C00; 
}

.title-section {
  float: center;
  text-align: center;
  background-image: url(../images/title-image.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

.title-text {
  color: yellow;
  font-weight: bold;
  margin-top: 100px;
  display: block;
  font-style: italic;
  font-size: 70px;
  text-shadow: 4px 4px black;

}

.section-two {
  width: 73%;
    border: 20px;
    padding: 100px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: #FF8C00;
    color: white;
    position: inherit;
}


.culture {
    width: 300px;
    border: 15px ;
    padding: 50px;
    margin: auto;
    font-size: 25px;
  }

  figcaption {
    color: white;
    background:#333;
    text-align: center;
    font-style: italic;
  }

  .work {
    width: 300px;
    border: 15px ;
    padding: 50px;
    margin: auto;
    font-size: 25;
  }

  .party {
    width: 300px;
    border: 15px ;
    padding: 50px;
    margin: auto;
    font-size: 25;
  }

  .who-are-we {
    width: 74%;
    height: 100%;
    border: 10px;
    padding: 50px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    background: #FF8C00;
    color: white;
  }

  h2 {
    font-size: 35px;
    font-style: italic;

  }

.sophia {
    float: right;
}

.jess {
  float: left;
}
.form {
  float: center;
  position: inherit;
  text-align: center;
  margin: auto;
  width: 40%;
  height: 100%;
  border: 10px;
  padding: 50px;
}

.share {
  font-stretch: wider;
  
}

.first-name-text {
  font-size: 16px;
  line-height: 1.5;
}

.first-name {
  border: 2px solid #FF8C00;
  height: 4%
}

.last-name-text {
  font-size: 16px;
  line-height: 1.5;
}

.surname {
  border: 2px solid #FF8C00;
  height: 4%;

}

.favourite-spot-text {
  font-size: 16px;
  line-height: 2;
}

.spot {
   width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #FF8C00;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.thanks {
  font-weight: bolder;
}

.submit-button {
  background-color: #FF8C00; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.main-footer {
   padding: 0; 
   text-align: center;
   background: #333;
   color: white;
   bottom: 0px;
   height: 100%;
   max-height: 75px;
}
  
.main-footer li a {
  font-size: 15px;
  bottom: 0;
  margin: 0;
}




  

