body {
    background-color: lightblue;
  }

* {
  box-sizing: border-box;
}
  
html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 100%
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

.navbar li {
    display: inline-block;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color:goldenrod; 
}

.title-section {
  text-align: center;
  background-image: url(../images/title-image-alt-2.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding-top: 250;
  padding-bottom: 10;
  width: 100%;
  border-top: 120;

}

.title-text {
  color: yellow;
  font-weight: bold;
  display: block;
  font-style: italic;
  font-size: 100px;
  text-shadow: 4px 4px black;
  position: inherit;
  margin-top: 60px;
  float: bottom;


}
.section-two {
  width: 100%;
    padding: 5%;
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: #FF8C00;
    color: white;
    position: inherit;
}

.three-images {
  position: inherit;
  width: 100%;
  border: 20px;
}

.three-images ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  margin-right: 30px;
}

.three-images li {
  display: inline-block;
  padding: 20px;
}

.who-are-we {
    text-align: center;
    line-height: 25px;
    background: #FF8C00;
    color: white;
    position: inherit;
    float: center;
    padding: 20px;
    border: 20px;
    height: 100%;
    overflow: hidden;
    min-width: 700px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }

  .who-text {
    float: center;
    padding-left: 50px;
    padding-right: 50px;
  }

figcaption {
  color: white;
  background: grey;
  text-transform: uppercase;
  text-emphasis: italic;
  padding: 5px;

}

  h2 {
    font-size: 35px;
    font-style: italic;

  }

.sophia {
    float: right;
    
}

.jess {
  float: left;
  max-height: 280px;
  max-width: 280px;

}

.our-images {
  text-align: center;
  margin: 50px;
}

.form {
  width: 70%;
  height: 100%;
  float: center;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  padding-bottom: 50px;
  background: orange;
  position: inherit;
}

.share {
  font-stretch: wider;
  
}

.first-name-text {
  font-size: 16px;
  line-height: 1.5;
}

.first-name {
  border: 2px solid #FF8C00;
  height: 5%
}

.last-name-text {
  font-size: 16px;
  line-height: 1.5;
}

.surname {
  border: 2px solid #FF8C00;
  height: 5%;

}

.favourite-spot-text {
  font-size: 16px;
  line-height: 2;
}

.spot {
   width: 40%;
  height: 40%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #FF8C00;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.thanks {
  font-weight: bolder;
}

.submit-button {
  background-color: darkolivegreen;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

footer {
  background-color: #333;
  color: white;
  top: 0;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

footer li a {
color: white;
display: block;
text-align: center;
padding: 10px 60px;
text-decoration: none;
font-size: 15px;
}

footer li {
  display: inline-block;
}

.party-title-section {
  color: yellow;
  font-weight: bold;
  display: block;
  font-style: italic;
  font-size: 40px;
  text-shadow: 4px 4px black;
  background-image: url(../images/title-image-leeds-2.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding-top: 250;
  padding-bottom: 10;
  width: 100%;
  border-top: 120;
  margin-top: 50px;
}

.party-intro {
  width: 100%;
  padding: 5%;
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  background: #FF8C00;
  color: white;
  position: inherit;
}

.brudenell-social-club {
  padding: 40px;
  position: inherit;
  margin-right: 20%;
}

.old-red-bus-station {
  padding: 40px;
  position: inherit;
  margin-right: 20%;
}

.fruity {
  padding: 40px;
  position: inherit;
  margin-right: 20%;
}
.brudenell-social-club img {
  float: left;
  margin: 20px;
}
  
.old-red-bus-station img {
  float: left;
  margin: 20px;
}

.fruity img {
  float: left;
  margin: 20px;
}

.party-list {
overflow: hidden;
float: center;
margin-left: 40;
}

.caption-party {
  color: white;
  background-color: none;
  text-align: left;
  position: inherit;
  float: center;
  width: 200px;
}

.fruity img:hover {
  opacity: 50%;
  
}
.brudenell-social-club img:hover {
  opacity: 50%;
  
}
.old-red-bus-station img:hover {
  opacity: 50%;
  
}



